html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(9, 61, 4));
        color: #333;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: linear-gradient(to right, rgb(9, 61, 4), rgb(0, 0, 0));;
    border-radius: 20px;
    box-shadow: 0px 10px 50px -20px rgb(0, 0, 0, 1);
    transition: 0.5s;
}

.form-box:hover {
    border: 1px solid white;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin: 20px;
    color: greenyellow;
}

input {
    width: 100%;
    padding: 12px;
    background: transparent;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    transition: 0.5s;
}

input:hover {
    border: 2px solid white 
    ;
}

button {
    width: 100%;
    border-radius: 50px;
    padding: 12px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: greenyellow;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
 
}

p {
    text-align: center;
    color: greenyellow;
}

a {
    text-decoration: none;
    color: greenyellow;
    transition: 0.5s;
}

a:hover {
    color: white;
}

.box {
    border: none;
    transition: 0.5s;
}

.box:hover {
    border: solid white;
    color: white
}



.acc-box{
    display: flex;
}

.icon {
    border: 2px solid greenyellow;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    align-content: center;
    color: greenyellow;
    font-size: 30px;
}

.acc {
    align-content: center;
    text-align: center;
    padding-left: 10px;
    font-size: 30px;
    color: white;
}
