* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

nav {
    display: flex;
    background-color: rgb(255, 121, 11);
    padding: 2vw;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 3vw;

}

nav a {
    font-size: 3vw;
    color: white;
    text-decoration: none;

}

nav ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: grey;
}

.Sidebar {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    width: 30%;
    flex-direction: column;
    transition: 0.75s ease-out;
}

.open-button {
    height: 80%;
    align-items: center;
    font-size: 3vw;
    display: none;
}

.Sidebar ul {
    flex-direction: column;
    gap: 4vw;
    margin-left: 2vw;
}

.Sidebar .cross-button {
    font-size: 1.5vw;
    margin-bottom: 5vw;
}

@media (max-width:768px) {
    nav {
        padding: 4vw;
    }

    nav ul li a {
        display: none;
    }

    nav a {
        font-size: 6vw;
    }

    .open-button {
        display: block;
        font-size: 6vw;
    }

    .Sidebar ul li a {
        display: block;
        font-size: 4vw;
    }

    .Sidebar .cross-button {
        padding-left: 2vw;
        font-size: 3.5vw;
        margin-bottom: 7vw;
    }

}